{% extends "registration/form_base.html" %}

{% block form %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4><p class="text-center text-info">Log in</p></h4></div>
        <div class="panel-body shadow-z-4">
            <form class="form-horizontal" method="post" action='/accounts/login/'>{% csrf_token %}
                <fieldset>
                    {% if form.errors %}
                        <div class="form-group">
                            {% for field in form %}
                                {% for error in field.errors %}

                                    <div class="col-lg-10 col-lg-offset-1">
                                         <p class="text-danger">
                                            <span class="label label-danger">{{field.name}}</span>
                                            {{error|escape }}
                                         </p>
                                    </div>

                                {% endfor %}

                                {% for error in form.non_field_errors %}

                                    <div class="col-lg-10 col-lg-offset-1">
                                        <p class="text-danger">
                                            <span class="label label-danger">no field</span>
                                            {{error|escape }}
                                         </p>
                                    </div>

                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <input type="text" class="form-control" name="username" id="inputLogin" placeholder="Login">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
            
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <button class="btn btn-material-teal" type="submit">Log in</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}