<!DOCTYPE html>
<html>
	<head>
		<title>Octonyan app.</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
		{% load staticfiles %}
		<link href="{% static "octonyan/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "octonyan/vendor/material-bootstrap/css/ripples.min.css" %}" rel="stylesheet">
        <link href="{% static "octonyan/vendor/material-bootstrap/css/material-wfont.min.css" %}" rel="stylesheet">
        <link href="{% static "octonyan/vendor/jquery-plugins/css/jquery.circliful.css" %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container-fluid">
			{% block main %}

			{% endblock %}
		</div>
		<script src="{% static "octonyan/vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "octonyan/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

        <script src="{% static "octonyan/vendor/material-bootstrap/js/ripples.min.js" %} "></script>
        <script src="{% static "octonyan/vendor/material-bootstrap/js/material.min.js" %}"></script>

        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
        <script src="{% static "octonyan/vendor/jquery-plugins/js/jquery.circliful.min.js" %}"></script><script>
        $( document ).ready(function() {
            $('#pep8').circliful();
            $('#pep257').circliful();
            $('#docstring-cover').circliful();
        });
        </script>
	</body>
</html>