<!DOCTYPE html>
<html>
	<head>
		<title>Octonyan app.</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
		{% load staticfiles %}
		<link href="{% static "octonyan/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "octonyan/vendor/material-bootstrap/css/ripples.min.css" %}" rel="stylesheet">
        <link href="{% static "octonyan/vendor/material-bootstrap/css/material-wfont.min.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
                <!-- Navigaiton bar -->

                <div class="navbar navbar-material-bluegrey">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'octonyan:index' %}">Octonyan app</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    My Repositories
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                {% for rep in repos  %}
                                    <li class="active"><a href="{% url 'octonyan:repository' rep.dir_name %}">
                                        {{ rep.dir_name }} </a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control col-lg-8" placeholder="Search repository">
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'octonyan:init_repo' %}"><i class="icon mdi-content-add">Add repository</i></a></li>
                            <li><a href="javascript:void(0)">About</a></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                        </ul>
                    </div>
                </div>
			{% block main %}

			{% endblock %}
		</div>
		<script src="{% static "octonyan/vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "octonyan/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

        <script src="{% static "octonyan/vendor/material-bootstrap/js/ripples.min.js" %} "></script>
        <script src="{% static "octonyan/vendor/material-bootstrap/js/material.min.js" %}"></script>
        
        <script>
            $(".dial").knob({
                'change':function(e){
                        console.log(e);
                    }
                }
            );
        </script>

        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
        </script>
	</body>
</html>