{% extends 'octonyan/application.html' %}
{% block main%}
<style>
		body {
			font: verdana;
		}
		.commit {
			margin-bottom: 10px;
			border-top: 1px solid black;
		}

		table {
			margin: 30px 20px;
			padding: 5px;
			border: solid black 2px;
		}
		
		tr {
			padding: 5px;
			text-align: center;
		}
	</style>
		</br>
		<a href="{%url "octonyan:index" %}">Back</a>
		<table>
			<tr>
				<th>Commiter</th>
				<th>Count of commit</th>
			</tr>
			{% for committer in committers%}
		  	<tr>
		  		<td>
		  			{{committer.committer}}
		  		</td>
		  		<td>{{committer.count}}</td>
		  	</tr>
			{% endfor %}
		</table>
		<h3>Short Histrory</h3>
		{% for commit in commits %}
			<div class="commit">
				<div>Commit: <a href="{% url "octonyan:commit_view" repo commit.id_commit %} ">{{commit.id_commit}}</a></div>
				<a href="{% url "octonyan:analysis" repo commit.id_commit %}">view analysis</a>
				<div>Author: {{commit.author}}</div>
				<div>Date: {{commit.create_date}}</div>
				<div>Message:{{commit.msg}}</div>
			</div>
		{% endfor %}
{% endblock %}