{% extends 'octonyan/application.html' %}
    {% block main %}
        <script type="application/javascript">
        console.log('123');
        var rep={{ rep|safe }}

        </script>

        
        <!-- Main -->

        <div class="row">
            
            <!-- Left content -->
            
            <div class="bs-component">

                <div class="col-lg-6">
                            <div class="bs-component">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5><strong class="text-info">General statistic repository.</strong></h5>
                                    </div>
                                    <div class="panel-body shadow-z-3">
                                    
                                                
                                            <div class="bs-component">
                                                <div class="col-xs-4 col-sm-4 placeholder">
                                                    <div class="well">
                                                        place to circle diagram
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="bs-component">
                                                <div class="col-xs-4 col-sm-4 placeholder">
                                                    <div class="well">
                                                        place to circle diagram
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="bs-component">
                                                <div class="col-xs-4 col-sm-4 placeholder">
                                                    <div class="well">
                                                        place to circle diagram
                                                    </div>
                                                </div>
                                            </div>
                                
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="bs-component">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5><strong class="text-info">Report.</strong></h5>
                                    </div>
                                    <div class="panel-body shadow-z-3">
                                        <div id="total" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        <div id="pep8" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                                    </div>
                                </div>
                            </div>
                </div>    
            </div>
            
            <!-- Right content(table) -->

            <div class="bs-component">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                            <h5><strong class="text-info">Commiters of {{ dir_name }}</strong></h5>
                            </div>

                            <div class="panel-body shadow-z-3">
                                <table class="table table-striped table-hover ">
                                    <thead>
                                        <tr>
                                            <th>Commiter</th>
                                            <th>pep8</th>
                                            <th>pep257</th>
                                            <th>Docsting coverage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for committer in committers%}
                                            <tr>
                                                <td>{{ committer.committer }}</td>
                                                <td>{{ committer.pep8_average }}</td>
                                                <td>{{ committer.pep257_average }}</td>
                                                <td>{{ committer.docstr_cover_average}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>    
                            </div>
                        </div>
                <div class="bs-component">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5><strong class="text-info">Report.</strong></h5>
                                    </div>
                                    <div class="panel-body shadow-z-3">

                                        <div id="pep257" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        <div id="docstring" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                    
                
                </div>
            </div>
        </div>
    {% endblock %}
